[submodule "rpi_hardware_scripts"]
	path = rpi_hardware_scripts
	url = https://github.com/ikxm2101/eg2310-rpi_hardware_scripts.git
[submodule "colcon_ws/src/auto_nav/auto_nav"]
	path = colcon_ws/src/auto_nav/auto_nav
	url = https://github.com/vivzzzzzz/r2auto_nav.git
